# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: f324b95f140728502a228a7d451e1e957af084f5537cf0b9cb79092c3fce4607a9a416a1af9c0d80b8e4154cc5a215104745e70b9d37d71d3eb632f3d03f956e

test:
  secret_key_base: d3a681278059cb91d3cbb2ed9ae5542361085905f2db61a1e893e488ab1f6da519412db995c00e70b376b6efa702698723dfa0758fdbe74ba2eb167695cb748e

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
