html,
body
{
  height: 100%;
}

header
{
  position: relative;
  z-index: 2;

  .current-user
  {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .logout
  {
    padding: 5px;
  }
}

i
{
  margin-right: 5px;
}

main
{
  position: absolute;
  z-index: 1;

  top: 70px;
  bottom: 10px;
  left: 0;
  right: 0;

  .container-fluid
  {
    height: 100%;
  }
}

#register-form,
#login-form
{
  width: 80%;
  max-width: 400px;

  margin: 50px auto 0;

  .remember-me
  {
    margin-top: 10px;
  }

  .actions
  {
    margin-top: 20px;

    .links
    {
      text-align: right;
    }
  }
}

#main-content
{
  height: 100%;
  position: relative;

  .sidebar
  {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;

    overflow-y: auto;
  }

  .content
  {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;

    .user-count
    {
      text-align: right;
      padding-right: 15px;
    }

    .panel
    {
      height: 100%;

      margin-bottom: 0;

      position: relative;

      .panel-footer
      {
        width: 100%;

        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

