html,
body
{
  height: 100%;
}

header
{
  position: relative;
  z-index: 2;

  .logout
  {
    padding: 5px;
  }
}

.channels
{
  list-style: none;
  margin: 0;
  padding: 0;

  .channel
  {
    margin: 0;
  }

  .panel
  {
    margin-bottom: 2px;
    padding: 5px;

    cursor: pointer;
  }
}


#register-form,
#login-form
{
  width: 80%;
  max-width: 400px;

  margin: 50px auto 0;

  .remember-me
  {
    margin-top: 10px;
  }

  .actions
  {
    margin-top: 20px;

    .links
    {
      text-align: right;
    }
  }
}

#main-content
{
  height: 100%;

  .sidebar
  {
    height: 100%;
  }

  .content
  {
    .user-count
    {
      text-align: right;
      padding-right: 15px;
    }

    .message .panel
    {
      padding: 5px;
      margin-bottom: 2px;
    }

    > .panel
    {
      min-height: 100%;

      padding: 0;

      margin-bottom: 0;

      position: relative;

      .panel-heading
      {
        .buttons
        {
          text-align: right;

          button:last-child
          {
            margin-left: 5px;
          }
        }
      }

      .panel-body
      {
        min-height: 300px;

        padding: 0 10px 90px;

        .messages
        {
          list-style: none;
          margin: 0;
          padding: 5px 0;
        }

        .user
        {
          font-size: 10px;
          color: #dddddd;
        }

        .remove
        {
          position: relative;
          text-align: right;
          z-index: 1;
        }
        i
        {
          margin-top: 3px;
          cursor: pointer;
          color: #a94442;

          &:hover
          {
            color: darken(#a94442, 10%);
          }
        }
      }

      .panel-footer
      {
        width: 100%;

        position: absolute;
        bottom: 0;
      }
    }
  }
}

